body {
  margin: 0;
  padding: 0;
  font-family: "Muli";
}

img {
  width: 300px;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  margin-bottom: 30px;
}

h1 {
  font-size: 30px;
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}

p {
  font-size: 20px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

button {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid red;
  font-size: 24px;
  background-color: grey;
  color: white;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 5px;
  font-family: "Muli";
  margin: 4px 2px;
  display: inline-block;
}
